<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
<h1>Expense Category</h1>
<table>
    <thead>
        <tr>
            <th>Name<th/>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for r in category %}
            <tr>
                <td> {{ r.name }} </td>
            <td> {{r.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>
