<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
<h1>Accounts</h1>
<table>
    <thead>
        <tr>
            <th>Name<th/>
                <th> Number </th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for d in accounts %}
            <tr>
                <td> {{ d.name }} </td>
                <td> {{ d.number }} </td>
            <td> {{ d.receipt.all | length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>
