
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block title %}
    Sign Up!
    {% endblock title %}

    {% block content %}
    <header>
      <nav>
        {% comment %} <a href="{% url 'recipe_list' %}">Main page</a> {% endcomment %}
      </nav>
    </header>
    <main>
        <div>
      <h1>Signup</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Signup</button>

      </form>
    </div>
    </main>
    {% endblock content %}
</body>
</html>
