<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
      <nav>
        {% comment %} <a href="{% url 'receipt_list' %}">Main page</a> {% endcomment %}
{% if user.is_authenticated %}
Hello, {{ user.username }}
{% comment %} <a href="{% url 'user_logout' %}">Logout</a> {% endcomment %}
{% else %}
    <a href="{% url 'signup' %}">Sign up</a>
    <a href="{% url 'user_login' %}">Login</a>
    <a href="{% url 'my_recipe_list' %}">My recipes</a>
{% endif %}
      </nav>
    <h1> My Receipts </h1>
<table>
  <thead>
    <tr>
      <th> Vendor </th>
      <th> Total </th>
      <th> Tax </th>
      <th> Date </th>
      <th> Category </th>
      <th> Account </th>
    </tr>
</thead>
<tbody>
    {% for i in receipt_list %}
<tr>
<td> {{i.vendor}} </td>
<td> {{i.total}} </td>
<td> {{i.tax}} </td>
<td> {{i.date|date:"m/d/y"}} </td>
<td> {{i.category.name}} </td>
<td> {{i.account.name}} </td>
</tr>
{% endfor %}
</tbody>
  </table>
</main>
</body>
</html>
